:root {
    --test: rgba(128, 128, 128, 0.5);
    --rare: rgb(150,150,255);
    --common: rgb(150,255,150);
    --super_rare: rgb(255,150,150);
}
@font-face {
    font-family: "STIXTwoText";
    src: url(/assets/font/STIXTwoText-VariableFont_wght.ttf);
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--test);
    overflow: hidden;
    font-family: "STIXTwoText";
}
button {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "STIXTwoText";
    background-color: inherit;
}
#minigameUI {
    position: absolute;
    top: 30%;
    left: 10%;
    height: 40%;
    width: 3%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    anchor-name: --minigameUI;
}
#minigameUI > * {
    border: black solid 0.25vmin;
    border-radius: 0.5rem;
}
#minigameBar {
    background: #FF0000;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#innerMinigameBar {
    background: transparent;
    width: 100%;
    height: 50%;
}
#line {
    width: 50%;
    height: 1.5%;
    position: absolute;
    top: 0%;
    left: calc(-5% - 0.0625vmin);
    background-color: white;
    border: black solid 0.25vmin;
    transform: translateY(-50%);
}
#progressBar {
    width: 50%;
    height: 100%;
    background-color: rgb(192, 192, 192);
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    align-items: center;
    text-align: center;
    font-size: 5vmin;
    word-break: break-all;
}

#innerProgressBar {
    width: 100%;
    height: 0%;
    background-color: white;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        flex-grow: 0;
    flex-shrink: 0;
}
    #innerProgressBarTwo {
    width: 100%;
    height: 0%;
    background-color: rgb(150, 150, 192);
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    flex-grow: 0;
    flex-shrink: 0;
}

#comboText {
    position: absolute;
    width: 0%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 3vmin;
    text-shadow:
    1.5px 1.5px 0 #000,
  -1.5px -1.5px 0 #000,  
   1.5px -1.5px 0 #000,
   -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
    transform: rotate(-30deg);
    transform-origin: 50% 50%;
    text-wrap: nowrap;
    position-anchor: --minigameUI;
    position-area: top left;
    background-color: transparent;
    transition-duration: 500ms;
}
#menuUI {
    background-color: transparent;
    height: 100%;
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
}

#leftMenu {
    display: flex;
    flex-direction: column;
    width: 6vmin;
    display: grid;
    grid-template-rows: 4fr 1fr;
    margin-top: 2%;
    gap: 2%;
}
.majorMenuButtons {
    writing-mode: vertical-lr;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    font-size: 2.5vmin;
    font-weight: 700;
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0 95%, 0 5%);
    transition-duration: 250ms;
    position: relative;
    right: -2.5vmin;
    display: flex;
    align-items: start;
    line-height: 125%;
    justify-content: center;
}
.majorMenuButtons:hover {
    right: 0% !important;
}
.minorMenuButtons {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    letter-spacing: 2px;
    font-size: 2.5vmin;
    font-weight: 500;
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0 75%, 0 25%);
    position: relative;
    right: -25%;
    text-align: center;
    transition-duration: 250ms;
}
.minorMenuButtons:hover {
    right: 0%;
}
#menu {
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#inventoryContainer {
    width: 98%;
    height: auto;
    min-height: 100%;
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(400, 1fr);
    row-gap: 0.5vmin;
    column-gap: 0.5vmin;
}
#inventorySearch {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#searchBar {
    width: 100%;
    height: 100%;
}
.inventoryItem {
    background-color: var(--test);
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}