:root {
    --test: rgb(203, 239, 255);
    --rare: rgb(150,150,255);
    --common: rgb(150,255,150);
    --super_rare: rgb(255,150,150);
    --outline: black;
    --mainui: rgba(255, 255, 255);
}
@font-face {
    font-family: "STIXTwoText";
    src: url(/assets/font/STIXTwoText-VariableFont_wght.ttf);
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--test);
    overflow: hidden;
    font-family: "STIXTwoText";
    user-select: none;
}
button {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "STIXTwoText";
    background-color: inherit;
}
input {
    font-family: "STIXTwoText";
}
#minigameUI {
    position: absolute;
    top: 30%;
    left: 10%;
    height: 40%;
    width: 3%;
    display: none;
    flex-direction: row;
    gap: 10%;
    anchor-name: --minigameUI;
}
#minigameUI > * {
    border: black solid 0.25vmin;
    border-radius: 0.5rem;
}
#minigameBar {
    background: #FF0000;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#innerMinigameBar {
    background: transparent;
    width: 100%;
    height: 50%;
}
#line {
    width: 50%;
    height: 1.5%;
    position: absolute;
    top: 0%;
    left: calc(-5% - 0.0625vmin);
    background-color: white;
    border: black solid 0.25vmin;
    transform: translateY(-50%);
}
#progressBar {
    width: 50%;
    height: 100%;
    background: #ffffff;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 24%, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 26%, rgba(255, 255, 255, 1) 37%, rgba(255, 255, 255, 1) 49%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 1) 74%, rgba(0, 0, 0, 1) 75%, rgba(255, 255, 255, 1) 76%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    align-items: center;
    text-align: center;
    font-size: 5vmin;
    word-break: break-all;
}

#innerProgressBar {
    width: 100%;
    height: 0%;
    background-color: white;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        flex-grow: 0;
    flex-shrink: 0;
}
    #innerProgressBarTwo {
    width: 100%;
    height: 0%;
    background-color: rgb(150, 150, 192);
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    flex-grow: 0;
    flex-shrink: 0;
}

#comboText {
    position: absolute;
    width: 0%;
    height: 0%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 3vmin;
    text-shadow:
    1.5px 1.5px 0 #000,
  -1.5px -1.5px 0 #000,  
   1.5px -1.5px 0 #000,
   -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
    transform: rotate(-30deg);
    transform-origin: 50% 50%;
    text-wrap: nowrap;
    position-anchor: --minigameUI;
    position-area: top left;
    background-color: transparent;
    transition-duration: 500ms;
    color: yellow;
}
#menuUI {
    background-color: transparent;
    height: 100%;
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
}

#leftMenu {
    display: flex;
    flex-direction: column;
    width: 6vmin;
    display: grid;
    grid-template-rows: 4fr 1fr;
    margin-top: 2%;
    gap: 2%;
}
.majorMenuButtons {
    writing-mode: vertical-lr;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    background-color: var(--mainui);
    font-size: 2.5vmin;
    font-weight: 700;
    border-radius: 1rem;
    transition-duration: 250ms;
    position: relative;
    right: -2.5vmin;
    display: flex;
    align-items: start;
    line-height: 125%;
    justify-content: center;
    border: var(--outline) solid 0.25vmin;
}
.majorMenuButtons:hover {
    right: 0% !important;
}
.minorMenuButtons {
    width: 100%;
    height: 100%;
    background-color: var(--mainui);
    letter-spacing: 2px;
    font-size: 2.5vmin;
    font-weight: 500;
    border-radius: 1rem;
    position: relative;
    right: -25%;
    text-align: center;
    transition-duration: 250ms;
    border: var(--outline) solid 0.25vmin;
}
.minorMenuButtons:hover {
    right: 0%;
}
#menu {
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#fakemenu {
    background-color: black;
    width: 0.25vmin;
    height: 100%;
    position: absolute;
    left: 5.75vmin;
    z-index: -1;
}
#inventoryContainer {
    width: 98%;
    height: auto;
    min-height: 100%;
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(400, 1fr);
    row-gap: 0.5vmin;
    column-gap: 0.5vmin;
}
#inventorySearch {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#searchBar {
    width: 100%;
    height: 100%;
    border: var(--outline) solid 0.25vmin;
    border-radius: 2rem;
    font-size: 2vmin;
    font-weight: 600;
    text-indent: 0.75vmin;
    transition-duration: 200ms;
        outline: none;
}
#searchBar:focus {
    border: rgb(180, 180, 180) solid 0.25vmin;
}
.inventoryItem {
    background-color: var(--test);
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: var(--outline) solid 0.2vmin;
}
#filter {
    background: var(--mainui);
    outline: none;
    border: var(--outline) solid 0.25vmin;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1vmin;
    font-weight: 700;
    min-width: 20%;
    min-height: 3em;
}
#reverse {
    background: var(--mainui);
    outline: none;
    border: var(--outline) solid 0.25vmin;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1vmin;
    font-weight: 700;
    min-width: 20%;
    min-height: 3em;
}
@keyframes rainbow {
    0% {
        color: rgb(255, 162, 162);
    }
    16.6% {
        color: rgb(255, 219, 152);
    }
    33.3% {
        color: rgb(255, 255, 136);
    }
    50% {
        color: rgb(139, 255, 139);
    }
    66.6% {
        color: rgb(142, 187, 255)
    }
    83.3% {
        color: rgb(255, 116, 255)
    }
    100% {
        color: rgb(255, 199, 208);
    }
}

#cast {
    background: var(--mainui);
    width: 7%;
    height: 4%;
    outline: none;
    border: var(--outline) solid 0.25vmin;
    border-radius: 0.6rem;
    position: absolute;
    left: 15%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5vmin;
    font-weight: 700;
    
}